<jce-user-form (userAddedEvent) = "addUser($event)">Loading Form...</jce-user-form>
  <table class="users table table-striped table-bordered">
    <thead>
      <tr>
        <th>user</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let user of users">
      <td>
        {{user.name}}
      </td>
      <td>
        {{user.email}}
      </td>
    </tr>
    </tbody>
  </table>