<jce-post-form (postAddedEvent) = "addPost($event)"></jce-post-form>
<jce-spinner [visible]="isLoading"></jce-spinner>
<div class="row">
  <ul class="list-group posts">
    <li *ngFor = "let post of posts" 
        class="list-group-item">
        <jce-post 
        [post] = "post"
        (deleteEvent) = "deletePost($event)"
        (editEvent) = "updatePost($event)"
        ></jce-post>
        <h5>Contributing Users:</h5>
        <ul>
          <li *ngFor="let postUser of post.userNames">
            {{(postUser | async)?.name}}
          </li>
        </ul>
    </li>
  </ul>
</div>
