<h1>
  {{title}}
</h1>

<div class="navbar">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a routerLink="/users" routerLinkActive="active">Users</a>
    </li>
    <li>
      <a routerLink="/posts" routerLinkActive="active">Posts</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
