<span *ngIf = "!isEdit"><b>{{post.title}}</b><small> by {{post.author}}</small><br>
{{post.body}}</span>

<span *ngIf = "isEdit">
Title: <input type="text" [(ngModel)] = "post.title"><br>
Author: <input type="text" [(ngModel)] = "post.author"><br>
Content: <input type="text" [(ngModel)] = "post.body">
</span>
<button (click) = "sendDelete()" type="button" class="btn btn-link pull-right"><i class="fa fa-trash" aria-hidden="true"></i></button>
<button (click) = "toggleEdit()" type="button" class="btn btn-info btn-sm pull-right">{{editButtonText}}</button>
<button *ngIf="isEdit" (click) = "cancelEdit()" type="button" class="btn btn-danger btn-sm pull-right">Cancel</button>